<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>工作台（工程）</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <script src="js/jquery-1.11.2.min.js" ></script>
    <script src="js/bootstrap.js" ></script>
    <script src="js/vue.js" ></script>
    <script src="js/echarts.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12" style="height: 100vh">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    报警信息
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>仪器名称</th>
                        <th>报警信息</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(data, index) in warinData">
                        <td>{{++index}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.warnInfo}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12" v-for="data in datas">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{data.name}}
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>仪器名称</th>
                        <th>{{getColXName(data.code)}}</th>
                        <th>{{getColYName(data.code)}}</th>
                        <th>{{getColZName(data.code)}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in data.itemData" v-bind:class="{'text-danger': item.level>'C' }">
                        <td>{{++index}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.valuex}}</td>
                        <td>{{item.valuey}}</td>
                        <td>{{item.valuez}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el:'.container-fluid',
        data:{
            datas:[
                {
                    name:'位移计',
                    code:'wyj',
                    itemData:[
                        {
                            name:'位移计A',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'位移计B',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'位移计C',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'位移计D',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'位移计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'位移计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'位移计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'位移计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'位移计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'位移计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        }
                    ]
                },
                {
                    name:'测缝计',
                    code:'cfj',
                    itemData:[
                        {
                            name:'渗压计A',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'侧缝计B',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'侧缝计C',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'侧缝计D',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'侧缝计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'侧缝计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'侧缝计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'侧缝计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'侧缝计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'侧缝计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        }
                    ]
                },
                {
                    name:'土压力计',
                    code:'tylj',
                    itemData:[
                        {
                            name:'土压力计A',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'土压力计B',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'土压力计C',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'土压力计D',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'土压力计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'土压力计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'土压力计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'土压力计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'土压力计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'土压力计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        }
                    ]
                },
                {
                    name:'渗压计',
                    code:'syj',
                    itemData:[
                        {
                            name:'渗压计A',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'渗压计B',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'渗压计C',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'渗压计D',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'渗压计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'渗压计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'渗压计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'渗压计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'渗压计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        },{
                            name:'渗压计E',
                            valuex:'12',
                            valuey:'12',
                            valuez:'12'
                        }
                    ]
                }
            ],
            warinData:[
                {
                    name:'位移计A',
                    warnInfo:'报警什么描述'
                },{
                    name:'位移计B',
                    warnInfo:'报警什么描述'
                },{
                    name:'位移计C',
                    warnInfo:'报警什么描述'
                },{
                    name:'位移计D',
                    warnInfo:'报警什么描述'
                },{
                    name:'位移计E',
                    warnInfo:'报警什么描述'
                },{
                    name:'位移计F',
                    warnInfo:'报警什么描述'
                },{
                    name:'位移计G',
                    warnInfo:'报警什么描述'
                },{
                    name:'位移计H',
                    warnInfo:'报警什么描述'
                },{
                    name:'位移计I',
                    warnInfo:'报警什么描述'
                },{
                    name:'位移计J',
                    warnInfo:'报警什么描述'
                }
            ]
        },
        methods:{
            getColXName:function(val){
                let xname = "";
                switch(val){
                    case "wyj":
                        xname = "x向(㎜)";
                        break;
                    default:
                        xname = "频率(KHz²)";
                }
                return xname;
            },
            getColYName:function(val){
                let yname = "";
                switch(val){
                    case "wyj":
                        yname = "y向(㎜)";
                        break;
                    default:
                        yname = "温度(℃)";
                }
                return yname;
            },
            getColZName:function(val){
                let zname = "";
                switch(val){
                    case "wyj":
                        zname = "z向(㎜)";
                        break;
                    case "cfj":
                        zname = "变形量(㎜)";
                        break;
                    case "tylj":
                        zname = "土压力量(Kpa)";
                        break;
                    case "syj":
                        zname = "水压力量(Kpa)";
                        break;
                }
                return zname;
            }
        }
    });

</script>
</body>
</html>