<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>工作台（指令）</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/vue.js" ></script>

</head>
<body>
<div class="container">
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">名称</th>
                    <th class="text-center">控制类型</th>
                    <th class="text-center">目标值</th>
                    <th class="text-center">水位</th>
                    <th class="text-center">运行时间</th>
                    <th class="text-center">操作</th>
                </tr>
                <tr v-for="(data,index) in items">
                    <td>{{++index}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.type===0?"开度":"流量"}}</td>
                    <td>{{data.value}}</td>
                    <td>{{data.waterLevel}}</td>
                    <td>{{data.time}}</td>
                    <td><a class="btn btn-link btn-xs" >{{data.state}}确认执行</a></td>
                </tr>
            </table>
            <hr />
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(data,index) in items">
            <th>1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>

        </tbody>
    </table>

</div>
<script type="text/javascript">
    var itemsData = Array.apply({},{length:10}).map(function(_,index){
        return {
            id:Math.random(),
            name:'闸泵站'+index,
            type:Math.round(Math.random()),
            value:Math.floor(Math.random()*100),
            waterLevel:(Math.random()*100).toFixed(2)+' / '+(Math.random()*100).toFixed(2),
            time:'2017-07-06 11:00 —— 2017-07-07 11:00',
            state:Math.round(Math.random())
        }
    });
    var app = new Vue({
        el:'.container',
        data:{
            page:1,
            items:itemsData,
        },
        methods:{
            bgSuccess:function(data){
                if(data.state === 1){
                    return {
                        'background-color':'#dff0d8'
                    }
                }
            }
        },
        computed:{
            readNum:function(){
                return itemsData.reduce(function(total,value){
                    return total + value.state;
                },0);
            }
        }
    });
</script>
</body>
</html>